.chat {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 5px;

  &-container {
    max-height: 500px;
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-message {
    padding: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    max-width: 231px;

    &-sender {
      font-size: 12px;
    }

    &-text {
      font-size: 14px;
      font-weight: 500;
    }

    &.align-right {
      text-align: right;
    }

  }

  .button {
    margin-left: 2px;
    width: 50px;
  }

}

@media screen and (max-height: 500px) {
  .chat {
    display: none;
  }
}
