.deck {
  width: 50px;
  height: 180px;
  line-height: 180px;
  position: fixed;
  bottom: 0;
  right: calc(50vw - 370px);;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: center;

  &:hover {
    background: rgba(0, 0, 200, 0.5);
  }

}

@media screen and (max-height: 500px) {
  .deck {
    width: 40px;
    height: 110px;
    line-height: 110px;
    left: 410px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
  }
}
