.mana {
  width: 70px;
  height: 70px;
  line-height: 70px;
  position: fixed;
  bottom: 0;
  right: 50px;
  border: 2px solid #30aedeaa;
  border-radius: 50%;
  text-align: center;
  background: rgba(150, 0, 255, 0.8);
  font-weight: 600;
  font-size: 30px;

  &.enemy {
    top: 0;
  }
}

.life {
  width: 140px;
  height: 140px;
  line-height: 140px;
  position: fixed;
  bottom: 0;
  right: 80px;
  border: 2px solid #30aedeaa;
  border-radius: 50%;
  text-align: center;
  background: rgba(255, 0, 0, 0.5);
  font-weight: 600;
  font-size: 30px;

  &.enemy {
    top: 0;

    &:hover {
      border: 2px solid rgba(255, 255, 0, 0.5);
    }

  }

}

.actions {
  width: 70px;
  height: 70px;
  line-height: 70px;
  position: fixed;
  bottom: 0;
  right: 220px;
  border: 2px solid #30aedeaa;
  border-radius: 50%;
  text-align: center;
  background: rgba(200, 200, 0, 0.8);
  font-weight: 600;
  font-size: 30px;

  &.enemy {
    top: 0;
  }
}

@media screen and (max-height: 500px) {
  .mana {
    width: 35px;
    height: 35px;
    line-height: 35px;
    right: 10px;
    font-size: 20px;
  }

  .life {
    width: 70px;
    height: 70px;
    line-height: 70px;
    right: 48px;
    font-size: 20px;
  }

  .actions {
    width: 35px;
    height: 35px;
    line-height: 35px;
    right: 120px;
    font-size: 20px;
  }
}
