.mana {
  width: 70px;
  height: 70px;
  line-height: 70px;
  position: fixed;
  bottom: 0;
  right: 50px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  text-align: center;
  background: rgba(150, 0, 255, 0.8);
  font-weight: 600;
  font-size: 30px;

  &.enemy {
    top: 0;
  }
}

.life {
  width: 140px;
  height: 140px;
  line-height: 140px;
  position: fixed;
  bottom: 0;
  right: 120px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  text-align: center;
  background: rgba(255, 0, 0, 0.5);
  font-weight: 600;
  font-size: 30px;

  &.enemy {
    top: 0;

    &:hover {
      border: 2px solid rgba(255, 255, 0, 0.5);
    }

  }

}

.actions {
  width: 70px;
  height: 70px;
  line-height: 70px;
  position: fixed;
  bottom: 0;
  right: 260px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  text-align: center;
  background: rgba(255, 255, 0, 0.8);
  font-weight: 600;
  font-size: 30px;

  &.enemy {
    top: 0;
  }
}
