.playground {

  &-name {
    position: fixed;
    bottom: 5px;
    left: 250px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

  &-enemy-name {
    position: fixed;
    top: 10px;
    left: 20px;
    font-weight: 500;
    font-size: 20px;
  }

}

@media screen and (max-height: 500px) {
  .playground {

    &-name {
      display: none;
    }

    &-enemy-name {
      top: 5px;
      left: 415px;
      font-weight: 500;
      font-size: 16px;
    }

  }
}
