.board {

  &-card-container {
    width: 600px;
    height: 180px;
    position: fixed;
    bottom: calc(50vh - 190px);
    left: calc(50vw - 300px);
    border: 2px solid #30aedeaa;
    border-radius: 5px;
  }

}

@media screen and (max-height: 500px) {
  .board-card-container {
    width: 400px;
    height: 110px;
    top: 120px;
    left: 5px;
  }
}
