@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');

body {
  margin: 0;
  font-family: 'Baloo 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  color: white;
}

.app {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url('./assets/bg.png') #341b66;
  background-size: cover;

  .logo-fixed {
    font-weight: bold;
    font-size: 40px;
    position: fixed;
    left: 20px;
    top: 20px;
  }
}

/* flex */
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.flex.column {
  flex-flow: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.jc-sa {
  justify-content: space-around;
}

.flex.jc-sb {
  justify-content: space-between;
}

.flex.jc-c {
  justify-content: center;
}

.flex.jc-fe {
  justify-content: flex-end;
}

.flex.ai-c {
  align-items: center;
}

.flex.ai-fe {
  align-items: flex-end;
}

/* buttons */
.button {
  border: 2px solid #30aedeaa;
  color: white;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0 5px;
  cursor: pointer;
  transition: background-color 100ms;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

}

/* input */
input {
  border-radius: 5px;
  border: 0;
  padding: 5px;
  height: 20px;
  line-height: 20px;
  outline: 0;
  user-select: text;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* other */
.clickable {
  cursor: pointer;
}
.border-default {
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
