.hand {
  &-card-container {
    width: 600px;
    height: 180px;
    position: fixed;
    bottom: 0;
    left: calc(50vw - 300px);
    border: 2px solid #30aedeaa;
    border-radius: 5px;
  }
}

@media screen and (max-height: 500px) {
  .hand-card-container {
    width: 400px;
    height: 110px;
    left: 5px;
  }
}

