.card {
  position: relative;
  width: 120px;
  height: 169px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  color: #30aede;
  overflow: hidden;

  &-image {
    background-size: cover;
    position: absolute;
    left: 5px;
    width: 110px;
    height: 100px;
  }

  &-deco {
    background: url('../../../assets/card_deco/card_deco_sci.png');
    background-size: cover;
    position: absolute;
    width: 120px;
    height: 169px;
  }

  &-title {
    position: absolute;
    bottom: 61px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    color: white;
  }

  &-stat {
    font-weight: bold;
    width: 24px;
    border-radius: 6px;
  }

  &-health {
    position: absolute;
    right: 8px;
    bottom: 12px;
  }

  &-offense {
    position: absolute;
    right: 63px;
    bottom: 12px;
  }

  &-defense {
    position: absolute;
    right: 36px;
    bottom: 12px;
  }

  &-mana {
    position: absolute;
    left: 5px;
    top: 11px;
  }

  &.selected {
    border: 2px solid yellow;
  }

  &.rare {
    box-shadow: 0 0 4px 2px #0070dd;
  }

  &.epic {
    box-shadow: 0 0 8px 5px #a335ee;
  }

  &.legendary {
    box-shadow: 0 0 10px 6px #ff8000;
  }

}

@media screen and (max-height: 500px) {
  .card {
    background: #30aedeaa;
    width: 80px;
    height: 80px;
    margin: 8px;
    color: black;

    &-image, &-deco {
      display: none;
    }

    &-title {
      position: relative;
      margin-top: 5px;
      bottom: 0;
    }

    &-health {
      right: 5px;
      bottom: 5px;
      background: rgba(0, 255, 0, 0.5);
    }

    &-offense {
      left: 5px;
      bottom: 5px;
      background: rgba(255, 0, 0, 0.5);
    }

    &-defense {
      left: 5px;
      top: 30px;
      bottom: auto;
      background: rgba(0, 0, 255, 0.6);
    }

    &-mana {
      left: auto;
      right: 5px;
      top: 30px;
      background: rgba(150, 0, 255, 0.8);
    }

  }
}
